{% for post in posts %}
<div>
	{% if post.image_url %}
	<div style="height: 500px; width: 100%">
		<img src="{{ url_for('static', filename='' + post.image_url) }}">
	</div>
	{% endif %}
	<!-- <img class="main-image" src="">
	<div class="heading-wrapper">
		<p class="blog-headline">{{ post.title }}</p>
		<div class="byline-wrapper">
			<div class="byline-text">{{ moment(post.timestamp).format("MMMM Do YYYY")}}</div>
			<div class="byline-text">IN </div>{% for cat in post.categories %}<span>{{ cat.name }}</span>&nbsp;{% endfor %}
		</div>
	</div>
	<a class="link-to-page" href="{{ url_for('main.post', id=post.id) }}">Read More</a>
	<hr /> -->
	<!-- <div class="text-center">
		<div class="row">
			<div class="col-sm">
					{{ post.title }}
			</div>
			<div class="col-sm">
					{{ moment(post.timestamp).format("MMMM Do YYYY")}}
			</div>
			<div class="col-sm">
					{% for cat in post.categories %}<span>{{ cat.name }}</span>&nbsp;{% endfor %}
			</div>
		</div>
	</div> -->
	<div class="row text-center">
		<div class="col-sm-4"><a href="{{ url_for('main.post', id=post.id) }}" style="text-decoration: none; color: black">{{ post.title }}</a></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4" style="color:#ccc; text-align: left">{{ moment(post.timestamp).format("MMMM Do YYYY")}}</div>
	</div>
</div>
{% endfor %}