{% for post in posts %}
<div class="blog-post">
	{% if post.image_url %}
	<div style="height: 500px; width: 100%">
		<img src="{{ url_for('static', filename='' + post.image_url) }}">
	</div>
	{% endif %}
	<img class="main-image" src="">
	<div class="heading-wrapper">
		<h1 class="blog-headline">{{ post.title }}</h1>
		<div class="byline-wrapper">
			<div class="byline-text">{{ moment(post.timestamp).format("MMMM Do YYYY")}}</div>
			<div class="byline-text">IN </div>{% for cat in post.categories %}<span>{{ cat.name }}</span>&nbsp;{% endfor %}
		</div>
	</div>
	<p class="blog-content">{% if post.preview_html %}{{ post.preview_html | safe }}{% else %}{{ post.preview}}{% endif %}</p>
	<a class="link-to-page" href="{{ url_for('main.post', id=post.id) }}">Read More</a>
</div>
{% endfor %}