{% extends "base.html" %}
{% block title %}tomnolan|About{% endblock %}
{% block page_content %}
<div>
	<div class="image-cropper">
		<img src="{{ url_for('static', filename='images/icon.jpg') }}"> 
	</div>

	<p> Hi there, my name is Tom, and I live here in the sunny city of Dublin, Ireland. I'm a software engineer and like most of the software engineers I know my hobbies all centre around tech. I'm an avid gamer and also have an interest in music.
	</p>

	<p> The blog you're reading was created using Flask following the great tutorials from <a href="https://twitter.com/miguelgrinberg">@Miguel Grinberg</a>. I've always wanted to give this sort of thing a go and when looking for a new language to learn, I stumbled across Flask.
	</p>

	<p> The topics I'll mostly be blogging about fall into two categories: projects I'm working on or things I find interesting. I currently intend to keep it mostly tech related but who knows.<br/></p>

	<p>Thanks for stopping by,<br/>

	Tom.
	</p>
</div>

{% endblock %}