{% extends "base.html" %}
{% block title %}tomnolan|About{% endblock %}
{% block page_content %}
<div>
	<div class="image-cropper">
		<img src="{{ url_for('static', filename='images/icon.jpg') }}"> 
	</div>

	<p> Hi there, my name is Tom, I'm a Software Engineer working out of the beautifully sunny Dublin, Ireland. My main interests lie in all things Web Development (not so much frontend). In saying that I'm interested in most areas and always open to learning new tech. I'm currently working here in Dublin for Workday, a company based out of California. I'm also currently pursuing my Masters degree in Cloud Computing in Dublin City University.
	</p>

	<p> The blog you're reading was created using Flask following the great tutorials from <a href="https://twitter.com/miguelgrinberg">@Miguel Grinberg</a>. I've always wanted to give this sort of thing a go and when looking for a new language to learn, I stumbled across Flask. Outside of technology, I have interests all sorts of other things. I'm an avid gamer, play a bit of MTG, love music, your average nerd eh?
	</p>

	<p>I created this blog with a couple of intentions in mind. Firstly I wanted to use it as a platform to write about things that I find interesting, I'm working on and showcase some work. Secondly as I mentioned above it's something I've always wanted to try and finally got around to giving a shot.</p>

	<p>Although most things I write about in this blog will be technology related, in the event that they're not I want just clarify that everything in this blog will be my personal opinion and in no way reflects back to my employment.</p>

	<p>Thanks for stopping by,<br/>

	Tom.
	</p>
</div>

{% endblock %}