{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %} {{ current_user.email }} {% else %} Stranger {% endif %}!</h1>
</div>
<diV>
	{% if current_user.is_authenticated %}
	{{ wtf.quick_form(form)}}
	{% endif %}
</diV>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
{% endblock %}