{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

<h1>{{ post.title }}</h1>
<div>{% if current_user.is_administrator() %}<a href="{{url_for('main.edit_post', id=post.id)}}"><span class="label label-danger">Edit</span></a>{% endif %}&nbsp;Posted By <span class="label label-success">{{post.author.username}}</span>&nbsp;Categories: {% for cat in post.categories %}<span class="label label-info">{{ cat.name }}</span>&nbsp;{% endfor %}<p style="float:right"><span class="glyphicon glyphicon-time float-right"></span> Posted {{ moment(post.timestamp).format("MMMM Do YYYY")}}</p></div>
<hr>
<div class='post'>
	{% if post.body_html %}
		<div class='post_body'>
        	{{ post.body_html | safe }}
        </div>
    {% else %}
    	<div class='post_body'>
        	{{ post.body }}
        </div>
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}