{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

<div class="blog-post">
    {% if post.image_url %}
    <div style="height: 500px; width: 100%">
        <img src="{{ url_for('static', filename='' + post.image_url) }}">
    </div>
    {% endif %}
    <div class="heading-wrapper">
        <h1 class="blog-headline">{{ post.title }}</h1>
        <div class="byline-wrapper">
            <div class="byline-text">{{ moment(post.timestamp).format("MMMM Do YYYY")}}</div>
            <div class="byline-text">IN</div>{% for cat in post.categories %}<span>{{ cat.name }}</span>&nbsp;{% endfor %}
        </div>
        <div class="byline-wrapper">
            <a class="byline-text link-to-page" href="{{ url_for('main.edit_post', id=post.id) }}" style="display: inline;">Edit</a>
            &emsp;
            <a class="byline-text link-to-page" href="{{ url_for('main.delete_post', id=post.id) }}" style="display: inline;">Delete</a>
        </div>
    </div>
    <p class="blog-content">{% if post.body_html %}{{ post.body_html | safe }}{% else %}{{ post.body}}{% endif %}</p>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}