{% extends "bootstrap/base.html" %}

{% block title %}tomnolan.ie{% endblock %}

{% block head %}
{{ super() }}

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block navbar %}
<div class="header-section">
    <div class="w-container">
        <h1 class="blog-name">tomnolan.ie</h1>
        <div class="navigation-bar">
            <a href="{{ url_for('main.index') }}" class="nav-link">blog</a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.add_post') }}" class="nav-link">add post</a>
            {% endif %}
            <!-- TODO -->
            <!-- <a href="{{ url_for('main.portfolio') }}" class="nav-link">portfolio</a> -->
            <a href="{{ url_for('main.about') }}" class="nav-link">about</a>
        </div>
        <hr/>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="section">
    <div class="w-container">
        <div class="content-wrapper">
            {% block page_content %}
            {% endblock %}
        </div>
    </div>
</div>
<div class="footer">
    <div class="w-container">
        <div>
            <a href="https://github.com/trno1an" class="social-icon-link w-inline-block"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
            <a href="https://twitter.com/trno1an" class="social-icon-link w-inline-block"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/tom-nolan-801914a7/" class="social-icon-link w-inline-block"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{{ moment.include_moment() }}
{% endblock %}